---
AccessModifierOffset: '0'
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
Cpp11BracedListStyle: 'false'
IncludeBlocks: Regroup
IncludeCategories:
- Regex: '<.*\.h>'
  Priority: 1
- Regex: '^<c.*>'
  Priority: 2
- Regex: '<(SFML|nlohmann).*>'
  Priority: 4
- Regex: '<.*>'
  Priority: 3
IndentAccessModifiers: 'true'
IndentCaseLabels: 'true'
IndentWidth: '4'
LambdaBodyIndentation: Signature
Language: Cpp
NamespaceIndentation: All
PenaltyBreakBeforeFirstCallParameter: '100'
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeCpp11BracedList: 'true'
Standard: c++17
TabWidth: '4'
UseTab: Always
...
