---
Checks: >
  clang-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,

  modernize-*,
  -modernize-use-trailing-return-type,

  bugprone-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-simplify-boolean-expr,

  performance-*,
  misc-*',

  hicpp-*,
  -hicpp-member-init,
  -hicpp-braces-around-statements
WarningsAsErrors: true
...
